{% include "head.html" %}

<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        {% comment %} <h1 class="title" style="color: ghostwhite;">Altenwald Games</h1><br> {% endcomment %}
      </div>
    </div>
    <div id="app" class="row columns is-multiline">
      {% for card in cards %}
      <div class="column is-4">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ card.game }}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{{ card.avatar }}" alt="Avatar">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding">{{ card.title }}</p>
                <p>
                  <span class="title is-6">
                    <a href="https://{{ card.link }}"> {{ card.link }} </a> </span> </p>
                <p class="subtitle is-6">&nbsp;</p>
              </div>
            </div>
            <div class="content">
              {{ card.content|safe }}
            </div>
          </div>
          <div class="card-footer">
            <a href="https://{{ card.link }}" class="card-footer-item is-primary">
              <i class="fas fa-play"></i>&nbsp;
              Play
            </a>
            <a href="https://github.com/{{ card.source }}" class="card-footer-item">
              <i class="fab fa-github"></i>&nbsp;
              Code
            </a>
            {% if card.donate_link %}
            <a href="{{ card.donate_link }}" class="card-footer-item is-success">
              <i class="fab fa-paypal"></i>&nbsp;
              Donate
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include "foot.html" %}
