    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="https://github.com/altenwald"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="https://youtube.com/altenwald"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="https://facebook.com/altenwald"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="https://twitter.com/altenwald"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a href="https://twitch.tv/altenwald"><i class="fa fa-twitch fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <a href="https://altewnald.com"><strong>Altenwald</strong> Solutions S.L.</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
